body {
    background-image: url("../Assets/Images/bg-code.png");
}

.header {
text-align: center;
border-bottom: 3px solid lightgrey;
  }

h1 {
border-bottom: 3px solid lightgrey;
font-size: 80px;
color: goldenrod;
background-image: linear-gradient(to right, darkblue, lightblue);
}

.contact-container {
background-color: white;
margin: 100px;
padding: 20px;
}

.row {
margin: 30px;
}

footer {
  text-align: center;
  color: white;
}

footer p {
  float: left;
  font-size: x-large;
}

footer li {
  display: inline;
  margin: 0;
  
  padding-left: 50px;
}

footer a {
  color: goldenrod;
}

  @media screen and (max-width: 768px) {
    .contact-container {
      margin: 0 auto;
    }
  }

  @media screen and (max-width:411px) {
    .contact-container {
      margin: 0 auto;
    }

   h1 {
     font-size: large;
   }
  }