:root {
    --darkcolor: #2C439B;
    --contrastcolor: #F89A45;
    --lightcolor: white;
    --bordercolor: 3px solid black;
  }

body {
      background-color: var(--contrastcolor)
  }

  nav a:link {
    color: var(--darkcolor);
    background-color: transparent;
    text-decoration: none;
}

nav a:visited {
    color: var(--contrastcolor);
    background-color: transparent;
    text-decoration: none;
}

nav a:hover {
    background-color: yellow;
    text-decoration: none;
}

h1 {
border-bottom: 3px solid lightgrey;
font-size: 80px;
color: var(--contrastcolor);
background-color: var(--darkcolor);
margin: 20px;
}

.port-container {
    margin: 100px;
    background-color: var(--darkcolor);
    padding: 20px;
}

#pwgimage {
    width: 350px;
    height: 350px;
}

footer {
    text-align: center;
    color: var(--lightcolor);
  }
  
  footer p {
    float: left;
    font-size: x-large;
  }
  
  footer li {
    display: inline;
    width: auto;
    padding-left: 50px;
  }
  
  footer a {
    color: goldenrod;
  }

#section-top {
    text-decoration: underline;
    background-color: rgb(30, 43, 66);
    text-align: center;
    color: var(--lightcolor);
}

#js-section {
    text-decoration: underline;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(30, 43, 66);
    color: var(--lightcolor);
}

@media screen and (max-width:768px) {
    .port-container {
        margin: 0 auto;
    }
}

@media screen and (max-width:411px) {
   .port-container {
       margin: 0 auto;
   }
    h1 {
        display: none;
    }

}