:root {
  --darkcolor: #2C439B;
  --contrastcolor: #F89A45;
  --lightcolor: white;
  --bordercolor: 3px solid black;
}

body {
  background-color: var(--darkcolor);
}

nav a:link {
  color: var(--darkcolor);
  background-color: transparent;
  text-decoration: none;
}

nav a:visited {
  color: var(--contrastcolor);
  background-color: transparent;
  text-decoration: none;
}

nav a:hover {
  background-color: yellow;
  text-decoration: none;
}

.image {
  padding-right: 10px;
}

.row {
 padding: 30px;
}

.index-container {
 padding: 30px;
}

.about-row {
  background-color: var(--lightcolor);
}
  
h1 {
  border-bottom: 3px solid lightgrey;
  font-size: 80px;
  color: var(--contrastcolor);
  padding-left: 10px;
}

.aboutcolor {
  background-image: linear-gradient(to right, darkblue, lightblue);
}

#floated {
  float: left;
  max-width: 200px;
  margin: 5px;
}

footer {
  text-align: center;
  color: var(--lightcolor);
}

footer p {
  float: left;
  font-size: x-large;
  border-bottom: 3px solid var(--lightcolor);
}

footer li {
  display: inline;
  width: auto;
  padding-left: 50px;
}

footer a {
  color: goldenrod;
}